{%extends 'base.html'%}
{%block content%}
<h2>New Tickets</h2>
<table>
    <thead>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Title</th>
            <th scope='col'>Assigned To</th>
            <th scope='col'>Reported By</th>
            <th scope='col'>Ticket Age</th>
        </tr>
    </thead>
    <tbody>
        {%for ticket in new_tickets%}
        <tr>
            <th scope='row'>{{ticket.id}}</th>
            <td><a href='/ticket_view/{{ticket.id}}/'>{{ticket.title}}</a></td>
            <td><a href='/user_view/{{ticket.assigned_to.id}}/'>{{ticket.assigned_to}}</a></td>
            <td><a href='/user_view/{{ticket.filed_by.id}}/'>{{ticket.filed_by}}</a></td>
            <td>{{ticket.ticket_age}} day(s)</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

<h2>In Progress Tickets</h2>
<table>
    <thead>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Title</th>
            <th scope='col'>Assigned To</th>
            <th scope='col'>Reported By</th>
            <th scope='col'>Ticket Age</th>
        </tr>
    </thead>
    <tbody>
        {%for ticket in inprogresstickets%}
        <tr>
            <th scope='row'>{{ticket.id}}</th>
            <td><a href='/ticket_view/{{ticket.id}}/'>{{ticket.title}}</a></td>
            <td><a href='/user_view/{{ticket.assigned_to.id}}/'>{{ticket.assigned_to}}</a></td>
            <td><a href='/user_view/{{ticket.filed_by.id}}/'>{{ticket.filed_by}}</a></td>
            <td>{{ticket.ticket_age}} day(s)</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<h2>Completed Tickets</h2>
<table>
    <thead>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Title</th>
            <th scope='col'>Assigned To</th>
            <th scope='col'>Reported By</th>
            <th scope='col'>Ticket Age</th>
        </tr>
    </thead>
    <tbody>
        {%for ticket in donetickets%}
        <tr>
            <th scope='row'>{{ticket.id}}</th>
            <td><a href='/ticket_view/{{ticket.id}}/'>{{ticket.title}}</a></td>
            <td><a href='/user_view/{{ticket.assigned_to.id}}/'>{{ticket.assigned_to}}</a></td>
            <td><a href='/user_view/{{ticket.filed_by.id}}/'>{{ticket.filed_by}}</a></td>
            <td>{{ticket.ticket_age}} day(s)</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<h2>Invalid Tickets</h2>
<table>
    <thead>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Title</th>
            <th scope='col'>Assigned To</th>
            <th scope='col'>Reported By</th>
            <th scope='col'>Ticket Age</th>
        </tr>
    </thead>
    <tbody>
        {%for ticket in invalidtickets%}
        <tr>
            <th scope='row'>{{ticket.id}}</th>
            <td><a href='/ticket_view/{{ticket.id}}/'>{{ticket.title}}</a></td>
            <td><a href='/user_view/{{ticket.assigned_to.id}}/'>{{ticket.assigned_to}}</a></td>
            <td><a href='/user_view/{{ticket.filed_by.id}}/'>{{ticket.filed_by}}</a></td>
            <td>{{ticket.ticket_age}} day(s)</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}